.news-card-container, .news-container{
    justify-content: center;
    align-items: top;
    display: flex;
}
.news-card-container{
    height: 29em;
}
.news-img{
    height: 10em;
}
.dateDiv{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}